InstanceType=OneSix
JoinServerOnLaunch=false
LogPrePostOutput=true
MCLaunchMethod=LauncherPart
ManagedPack=false
ManagedPackID=
ManagedPackName=
ManagedPackType=
ManagedPackVersionID=
ManagedPackVersionName=
OverrideCommands=true
OverrideConsole=false
OverrideGameTime=false
OverrideJavaArgs=false
OverrideJavaLocation=false
OverrideMCLaunchMethod=false
OverrideMemory=false
OverrideMiscellaneous=false
OverrideNativeWorkarounds=false
OverridePerformance=false
OverrideWindow=false
PostExitCommand=
PreLaunchCommand="$INST_JAVA" -jar packwiz-installer-bootstrap.jar {{packUrl}}
WrapperCommand=
iconKey=prismlauncher
lastLaunchTime=1677698575168
lastTimePlayed=32
name=Seapickle
notes=Built using Revision {{revision}}
totalTimePlayed=43
