<!DOCTYPE html>
<html>

<head>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <style>
    html {
      margin: 0;
      --bg-color: #394f49;
      --header-color: #efdd8d;
      --panel-color: #65743a;
      --panel-color-dark: #414b25;
      --text-color: #f4fdaf;
      background-color: var(--bg-color);
      color: var(--text-color);
      font-family: sans-serif;
    }

    body {
      background-color: var(--panel-color);
      padding: 24px;
      border-radius: 12px;
      margin-left: auto;
      margin-right: auto;
      max-width: 820px;
    }

    h1,
    h2,
    h3 {
      color: var(--header-color);
      text-align: center;
      text-decoration: underline;
      text-decoration-thickness: 8px;
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .copier>code {
      user-select: none;
    }

    .copier {
      display: inline-block;
      position: relative;
      background-color: var(--panel-color-dark);
      padding: 4px;
      border-radius: 8px;
    }

    .copier>.message {
      background-color: var(--panel-color-dark);
      border-radius: 8px;
      position: absolute;
      inset: 0;
      text-align: center;
      padding: 4px;
    }
  </style>
</head>

<body>
  <h1>Seapickle Pack 1.21.1!</h1>
  <p>This site hosts the download options for the seapickle pack</p>
  <h1>Installation</h1>
  <ul>
    <li>
      Download PrismLauncher from
      <a href="https://prismlauncher.org/" target="_blank">here</a>
    </li>
    <li>Press "Add Instance"</li>
    <li>Select "Import"</li>
    <li>
      Paste
      <div x-data="{copied: null, url: '{{instanceUrl}}'}" class="copier">
        <code x-text="url" x-on:click="
            navigator.clipboard.writeText('{{instanceUrl}}');
            console.log('HI');
            copied != null && clearTimeout(copied);
            copied = setTimeout(() => {
              copied = null;
            }, 1500);

          " x-on:copied-to-clip="console.log('HI')">{{instanceUrl}}
        </code>
        <template x-if="copied != null">
          <span class="message"> Link Copied </span>
        </template>
      </div>
      into the Text Field
    </li>
  </ul>
  <h1>Configuration</h1>
  <ul>
    <li>
      Enable the Stay_True_1.19.zip and the Seapickle.zip Resource Packs
    </li>
  </ul>
  <h1>
    <p>Newest version of the Texture Pack is [Revision {{revision}}].</p>
  </h1>
</body>
<footer>
  <span>
  <span>Built: </span>
  <span x-data="{date: new Date(Date.parse('{{isoBuildDate}}'))}" x-text="date.toLocaleString('de-AT')">  </span>
  <span> from Commit </span>
  <span>"{{revisionMessage}}"</span>
  </span>
  <a href="https://gitlab.com/nionidh/seapicklepack" target="_blank">GitLab</a>
</footer>
<footer>
  <span> (c) 2024, Mona Mayrhofer - Ansfelden </span>
  <span> Version: {{revisionLong}} </span>
</footer>

</html>
